<div fxLayout="column" class="foot-top" [ngStyle.xs]="'width:95%;margin-left:2.5%'" [ngStyle.gt-xs]="'width:90%;margin-left:5%'">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div  fxLayout="row" fxLayoutAlign="center center"
          [ngStyle.gt-xs]="'width:450px;height:90px;border-radius:60px;background-color: #FFD7B5;padding-top:10px;'"
          [ngStyle.xs]="'width:140px;height:45px;border-radius:20px;background-color: #FFD7B5;font-size:12px;'">
      <div fxLayout="column" fxFlex="1 1 20">
        <img src="assets/truck.svg" fxHide.xs>
        <img src="assets/truck.svg" width="18px" height="18px" fxHide.gt-xs>
      </div>
      <p fxFlex="1 1 5"></p>
      <div fxLayout="column" fxFlex="1 1 60">
        <h5 style="padding-top:20px;color:black;">
          <strong>FREE SHIPPING & RETURN</strong>
          <p style="padding-top:none;color:black">Shipping all over india</p>
        </h5>
      </div>
    </div>
    <p fxFlex="1 1 4"></p>
    <div  fxLayout="row" fxLayoutAlign="center center"
          [ngStyle.gt-xs]="'width:450px;height:90px;border-radius:60px;background-color: #FFD7B5;'"
          [ngStyle.xs]="'width:140px;height:45px;border-radius:20px;background-color: #FFD7B5;font-size:10px;'">
      <img src="assets/money.svg" fxHide.xs>
      <img src="assets/money.svg"width="18px" height="18px" fxHide.gt-xs>
      <p fxFlex="1 1 2"></p>
      <div fxLayout="column">
        <h5 style="padding-top:20px;">
          <strong>MONEY BACK GUARANTEE</strong>
          <p>
            100% money back guarantee</p></h5>
      </div>
    </div>
    <p fxFlex="1 1 4"></p>
    <div  fxLayout="row" fxLayoutAlign="center center"
          [ngStyle.gt-xs]="'width:450px;height:90px;border-radius:60px;background-color: #FFD7B5;'"
          [ngStyle.xs]="'width:140px;height:45px;border-radius:20px;background-color: #FFD7B5;font-size:10px;'">
      <img src="assets/support.svg" fxHide.xs>
      <img src="assets/support.svg" width="18px" height="18px" fxHide.gt-xs>
      <p fxFlex="1 1 10"></p>
      <div fxLayout="column" >
        <h5 style="padding-top:20px;">
          <strong>ONLINE SUPPORT 24/7</strong><p> Lorem ipsum dolor sit amet.</p></h5>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div fxLayout="column" style="background:#FFD7B5;width:90%;margin-left:5%;" fxHide.xs>
  <div fxLayout="column" class="footer" style="background:#FFD7B5;">
    <div fxLayout="row" fxLayoutAlign="end center"  style="background-color:#FFD7B5;">
      <div class="icons-list">
        <a class="icons" href="https://www.facebook.com/khancopper" target="_blank">
          <img src="assets/facebook.svg" fxHide.xs>
        </a>
        <a class="icons" href="https://twitter.com/khancopper" target="_blank">
          <img src="assets/twitter.svg" fxHide.xs>
        </a>
        <a class="icons" href="https://www.instagram.com/khancopper" target="_blank">
          <img src="assets/instagram.svg" fxHide.xs>
        </a>
        <a class="icons" href="https://api.whatsapp.com/send?phone=919541122925" target="_blank">
          <img src="assets/whatsapp.svg" fxHide.xs>
        </a>
      </div>
    </div>
    <div fxLayout="row" class="content" style="background-color:#FFD7B5;" >
      <div fxFlex="1 1 30">
        <div fxLayout.xs="column">
          <h3
            style="color:black"><strong>CONTACT INFORMATION</strong></h3>
          <h5
            style="color:black"><strong>ADDRESS</strong></h5>
          <p>Address: Downtown Srinagar, J&K 
            190002</p>
          <h5
            style="color:black"><strong>PHONE</strong></h5>
          <p>+91-9541122925</p>
          <h5
            style="color:black"><strong>EMAIL</strong></h5>
          <p>support@khancopper.com</p>
        </div>
      </div>
      <div fxFlex="1 1 30">
        <div fxLayout="column" fxFlex="1 1 auto">
          <h3><strong>ABOUT US</strong></h3>
          <p>
            Khan copper house create unique high quality Copper product from the finest Components and</p>
          <a href="#!" style="color:black;text-decoration:none;"><strong>READ MORE...</strong></a>
        </div>
      </div>
      <p fxFlex="1 1 5" style="background-color:#FFD7B5;"> </p>
      <div fxFlex="1 1 30"  style="background-color:#FFD7B5;">
        <div fxLayout.xs="column">
          <h3 style="color:black"><strong>MY ACCOUNT</strong></h3>
          <a href="#" style="text-decoration: none;color:black">Contact us</a><br>
          <a href="#" style="text-decoration: none;color:black">My account</a><br>
          <a href="#" style="text-decoration: none;color:black">Order history</a><br>
          <a href="#" style="text-decoration: none;color:black">Advance search</a><br>
          <a href="#" style="text-decoration: none;color:black">Login</a><br>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="background-color:#FFD7B5;">
      <p style="color: #7c7b7b;">
        supero software © 2019 All Rights Reserved</p>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end end" style="background-color:#FFD7B5;">
      <img src="assets/mastercard.svg" height="42px" fxHide.xs>
      <img src="assets/visa.svg" height="42px" fxHide.xs>
      <img src="assets/discover.svg" height="42px" fxHide.xs>
      <img src="assets/paypal.svg" height="42px" fxHide.xs>
      <img src="assets/american-express.svg" height="42px" fxHide.xs>
    </div>
  </div>
</div>

<div fxLayout="column" style="background:#FFD7B5;width:95%;margin-left:2.5%" fxHide.gt-xs>
  <div fxFlex="1 1 20" style="padding-left: 5px;padding-right: 5px;">
    <div fxLayout="column" fxFlex="1 1 100">
      <h4><strong>About Us</strong></h4>
      <p>
        Khan copper house create unique high quality Copper product from the finest Components and</p>
      <a href="#!" style="color:black;text-decoration:none;"><strong>READ MORE...</strong></a>
    </div>
  </div>
  <div  fxFlex="1 1 30" style="padding-left: 5px;padding-right: 5px;">
    <div fxLayout="column" fxFlex="1 1 100">
      <h4
        style="color:black"><strong>CONTACT INFORMATION</strong></h4>
      <h5
        style="color:black"><strong>ADDRESS</strong></h5>
      <p>Delhi , India</p>
      <h5
        style="color:black"><strong>PHONE</strong></h5>
      <p>+91 3216549874</p>
      <h5
        style="color:black"><strong>EMAIL</strong></h5>
      <p> @gmail.com</p>
    </div>
  </div>
  <div  fxFlex="1 1 30" style="padding-left: 5px;padding-right: 5px;">
    <div fxLayout="column" fxFlex="1 1 100">
      <h4 style="color:black"><strong>MY ACCOUNT</strong></h4>
      <a href="#" style="text-decoration: none;color:black">Contact us</a><br>
      <a href="#" style="text-decoration: none;color:black">My account</a><br>
      <a href="#" style="text-decoration: none;color:black">Order history</a><br>
      <a href="#" style="text-decoration: none;color:black">Advance search</a><br>
      <a href="#" style="text-decoration: none;color:black">Login</a><br>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" style="background-color:#FFD7B5;">
    <div fxLayout="row" fxFlex="1 1 100">
      <img src="assets/facebook.svg" width="20px" height="20px" fxHide.gt-xs style="padding-left:5px;">
      <img src="assets/twitter.svg" width="20px" height="20px" fxHide.gt-xs style="padding-left:5px;">
      <img src="assets/instagram.svg" width="20px" height="20px" fxHide.gt-xs style="padding-left:5px;">
      <img src="assets/whatsapp.svg" width="20px" height="20px" fxHide.gt-xs style="padding-left:8px;">
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" style="background-color:#FFD7B5;">
    <p style="color: #7c7b7b;">
      supero software © 2019 All Rights Reserved</p>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end" style="background-color:#FFD7B5;">
    <img src="assets/mastercard.svg" width="20px" height="20px" fxHide.gt-xs>
    <img src="assets/visa.svg" width="20px" height="20px" fxHide.gt-xs>
    <img src="assets/discover.svg" width="20px" height="20px" fxHide.gt-xs>
    <img src="assets/paypal.svg" width="20px" height="20px" fxHide.gt-xs>
    <img src="assets/american-express.svg" width="20px" height="20px" fxHide.gt-xs>
  </div>
</div>
