
<div fxLayout="row" fxLayoutGap.gt-xs="40px">
  <div fxFlex="30" fxFlex.xs="45">
     <img src="../assets/prod2.jpg">
  </div>

  <div fxFlex="50" fxFlex.xs="55" class="gap" fxLayout="column" fxLayoutGap="-10px">
    <div>
      <h2>Product Name</h2>
    </div>

    <div >
      <h3>INR 3000</h3>
    </div>

    <div>
      <p>colour -  </p>
    </div>

    <div>
      <p>size -</p>
    </div>

    <div fxLayout="row">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>remove</mat-icon>
      </button>
      <div class="number">
          1
      </div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <br>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <button mat-raised-button>Wishlist</button>
      </div>
      <div>
        <button mat-raised-button>Remove</button>
      </div>
    </div>
  </div>
</div>
<hr>
