
    <div class="w3-card w3-hover-shadow">
      <img src="../assets/prod2.jpg" style="width:100%" class="w3-image w3-hover-opacity w3-round">
      <div class="w3-display-bottomleft">

        <div><a class="prod-category ul-effect">Category</a> </div>

      <div><a class="prod-title bold ul-effect">Product Name Here</a></div>

          <div class="prod-price-cart">
           <div class="prod-price bold"><a class="ul-effect">&#8377; 136</a></div>
           <div class="prod-cart "><a class="prod-cart-link ul-effect">Add to Cart</a></div>
        </div>

        <div class="prod-buttons w3-bar">
            <button class="button w3-button w3-black w3-ripple">Add To Cart</button>
            <button class="button w3-button w3-black w3-ripple">Buy Now</button>
        </div>
      </div>
    </div>


