
    <div class="w3-card w3-hover-shadow">
      <img src="https://dummyimage.com/800x800/4d4c4d/fff" style="width:100%; height: 100%;" >
      <div class="w3-display-bottomleft">

        <div><a class="prod-category ul-effect">Category</a> </div>

        <div><a class="prod-title bold ul-effect">Product Name </a></div>

        <div class="prod-price-cart">
           <div class="prod-price bold"><a class="ul-effect">&#8377; 136</a></div>
           <div class="prod-cart "><a class="prod-cart-link ul-effect">Add to Cart</a></div>
        </div>

        <div class="prod-buttons w3-bar" fxLayout="row" fxLayoutGap="20px">
            <div >
              <button class="button w3-button w3-black w3-ripple">Add To Cart</button>
            </div>
            <div >
              <button class="button w3-button w3-black w3-ripple w3-margin-left">Buy Now</button>
            </div>
        </div>
      </div>
    </div>


