<div class="container">
    <div class="flex-container">
        <div fxLayout="column" >
            <div class="heading" ngClass.xs="heading-small">
                <h1>OTP Verification</h1>
            </div>
            <div class="content" fxLayout="column"  fxLayoutGap="3%">
                <div fxLayoutAlign="start start" class="text" ngClass.xs="text-small">
                <h3>Enter Your OTP</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
                <div fxLayoutAlign="center center">
                    <input  class="input" type="text" maxlength="1">
                </div>
            </div>
            <div>
                <button mat-flat-button type="submit" class="button" ngClass.xs="button-small">Verify</button>
            </div>
            <div class="confirmation">
                 <h3>Not Recieve? <span>Click Here</span></h3>
            </div>
        </div>
        </div>
    </div>
</div>
