<div class="container" fxLayout="column wrap" fxLayoutAlign="start center">
    <div class="heading-box">
        <h1 class="heading">Similar Products</h1>

    </div>
    <!-- <div class="timer" fxLayout="row" style="margin-bottom: 2%; margin-top: 1%;">
        <mat-icon class="icon">alarm</mat-icon>
        <h3>24:31:34</h3>
    </div> -->
    <div fxLayout="row" style="height: 100%; margin-bottom: 10%;" fxLayoutAlign="center" fxLayoutGap="5%"    fxLayout.sm="column" fxFlex.sm="2"
     fxLayoutAlign.sm="space-between stretch" fxLayout.lt-md="column" fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="column" fxLayoutAlign.lt-md="space-between stretch" fxFlex.lt-md="10">
        <div fxLayout="column"  fxFlex="15" fxLayoutGap="10%" style="margin-bottom: 2%;" >
            <div>
                <app-deal-day-prod-card></app-deal-day-prod-card>
            </div>
            <div>
                <app-deal-day-prod-card></app-deal-day-prod-card>
          </div>
        </div>
        <div fxLayout="column"  fxFlex="15" fxLayoutGap="10%" style="margin-bottom: 2%;">
            <div>
                <app-deal-day-prod-card></app-deal-day-prod-card>
            </div>
            <div>
                <app-deal-day-prod-card></app-deal-day-prod-card>
          </div>

        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="31"  fxFlexfill fxLayout.lt-lg="row" fxFlex.lt-lg="60">
                <app-deal-day-prod-card></app-deal-day-prod-card>



        </div>

    </div>
    <div></div>
    <div fxLayout="row" style="height: 100%; margin-bottom: 5%;" fxLayoutAlign="center" fxLayoutGap="5%"    fxLayout.sm="column" fxFlex.sm="2"
    fxLayoutAlign.sm="space-between stretch" fxLayout.lt-md="column" fxLayoutAlign.md="space-between stretch" fxLayoutAlign.lt-md="column" fxLayoutAlign.lt-md="space-between stretch" fxFlex.lt-md="10">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="31"  fxFlexfill fxLayout.lt-lg="row" fxFlex.lt-lg="60">
        <app-deal-day-prod-card></app-deal-day-prod-card>
    </div>
    <div fxLayout="column"  fxFlex="15" fxLayoutGap="10%" >
           <div  >
               <app-deal-day-prod-card></app-deal-day-prod-card>
           </div>
           <div  >
               <app-deal-day-prod-card></app-deal-day-prod-card>
         </div>
       </div>
       <div fxLayout="column"  fxFlex="15" fxLayoutGap="10%" >
           <div>
               <app-deal-day-prod-card></app-deal-day-prod-card>
           </div>
           <div>
               <app-deal-day-prod-card></app-deal-day-prod-card>
         </div>

       </div>


   </div>
   <div>
       <button mat-flat-button class="button">Next ></button>
   </div>


</div>

