  <form #f="ngForm">
      <article id="slider" style="height: 40vw;">
          <input type='radio' class="input" name='slider' [value]='0' ngModel id='slide1'/>
          <input type='radio' name='slider'class="input" [value]='1' ngModel id='slide2'/>
          <input type='radio' name='slider' [value]='2'class="input" id='slide3' ngModel/>
          <input type='radio' name='slider' [value]='3' id='slide4' class="input" ngModel/>
          <input type='radio' name='slider' id='slide5' [value]='4'class="input" ngModel/>
          <div id="slides">
              <div id="container2">
                  <div class="inner">
                      <article>
                      <img src="assets/slide1.jpg"/>
                      </article>
                      <article>
                      <img src="assets/slide2.jpg"/>
                      </article>
                      <article>
      
                      <img src="assets/slide3.jpg"/>
                      </article>
                      <article>
                      
                      <img src="assets/slide4.jpg"/>
                      </article>
                      <article>
                      
                      <img src="assets/slide5.jpg"/>
                      </article>
                  </div>
              </div>
          </div>
          </article>
      </form>
      <div class="container" fxLayout="column wrap" fxLayoutAlign="start">
  <div class="heading-box flex-container">
    <div class="heading">Contact Us</div>
  </div>
  <div class="containing">
    <div class="flex-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"   fxLayoutGap="90px">

      <mat-card class="form" fxFlex="50"  >
        <mat-card-title>Contact Form</mat-card-title>
        <mat-card-content>
          <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap" fxLayoutAlign="space-between">

              <div fxFlex="40" fxFlex.xs="45">
                <h3>Name</h3>
                <input  type="text" class="input form-control" formControlName="name" placeholder="Name">
                <span *ngIf="!myReactiveForm.get('name').valid && myReactiveForm.get('name').touched">
                            Enter valid name.
                        </span>
              </div>
              <div fxFlex="40" fxFlex.xs="45">
                <h3>Phone</h3>
                <input  type="tel" maxlength="10" class="input form-control" formControlName="phone" placeholder="Phone">
                <span *ngIf="!myReactiveForm.get('phone').valid && myReactiveForm.get('phone').touched">
                                Enter Valid Phone Number.</span>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between" >
              <div fxFlex="40" fxFlex.xs="100" >
                <h3>Email</h3>
                <input  type="email" class="input form-control" formControlName="email" placeholder="Email">
                <span *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">
                                  Enter Valid Email.</span>
              </div>
              <div fxFlex="40" fxFlex.xs="100">
                <h3>Subject</h3>
                <input  type="text" class="input form-control" formControlName="subject" placeholder="Subject">
                <span *ngIf="myReactiveForm.get('subject').value==null && myReactiveForm.get('subject').touched ">
                                Required.</span>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex="99">
                <h3>Message</h3>
                <textarea type="textarea" class="message form-control" formControlName="message" placeholder="Message"></textarea>
                <span *ngIf="myReactiveForm.get('message').touched && myReactiveForm.get('message').value==null">
                            Required.</span>
              </div>
            </div>
            <div>
              <button mat-flat-button type="submit" class="button" [disabled]="!myReactiveForm.valid">Send</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="services" fxFlex="33">
        <mat-card-content>
          <mat-icon class="icon">phone</mat-icon>
          <h2>Contact Customer Service</h2>
          <p> Need Assistance? Our Customer Service Is Here To Assist You Monday To Friday From 9 AM EST to 10 pm EST.</p>
          <mat-icon class="icon">live_help</mat-icon>
          <h2>Khan copper FAQ</h2>
          <p> You Might Find The Answer You’re Looking For In Our Frequently Asked Questions</p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
