.heading-box{
  margin-top:1%;
  margin-left: 5%;
  margin-bottom: 1%;
  width: 20vw;
 border-radius: 15px;
 background-color: #FFD7B5;
 }
 
 .heading{
 font-weight: 900;
 font-size: 3vw;
 padding-top: 2vw;
 padding-bottom:2vw ;
 text-align: center;
 font-family:Poppins;
 
 }
.services{
  background-color: #FFD7B5;
  padding: 50px 60px;
  padding-bottom: 100px;
  border-radius: 20px;

}
.form{
  padding: 30px;
  padding-right: 45px;
  /* padding-left: 20px; */
  border-radius: 20px;
}
.message{
  width: 100%;


}
textarea{
  background-color: #FFD7B5;
  min-height: 100px;
  margin-bottom:15px ;
  border-radius: 10px;
  font-size: 1.4rem;
  border: 1px solid black;
  padding: 10px;

}
img{
  width: 100%;
}
.button{
  font-weight: 600;
  background-color: #FFD7B5;
  padding: 10px 70px;
  border-radius: 50px;
  font-size: 1.8rem;
  margin: 15px 0;
}
.container{
  margin-bottom: 4vw;
  margin-top: 2vw;
}

mat-card-title{
  font-size: 1.8rem;
  padding-bottom: 20px;
  font-family:Poppins;
}
p{
  font-size: 1.2rem;
  line-height: 2rem;
}
h2{
  font-size:1.8rem;
  line-height: 2.2rem;
}
h3{
  font-size: 1.4rem;
}
.icon{
  padding: 30px 0;
  font-size: 50px;
}
.margin{
  margin-left: 0;
}

.input{
  width: 100%;
  height: 45px;
  background-color: #FFD7B5;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.4rem;
  padding-left: 10px;

}
input.ng-invalid.ng-touched{
  border: 2px solid red;
  box-shadow: 0 0 5px inset red;
}
textarea.ng-touched.ng-invalid{
  border: 2px solid red;
  box-shadow: 0 0 5px inset red;
}
span{
  font-size: 1rem;
  color: red;
}
button:disabled,button[disabled]{
  background-color: #f8dbc0 !important;
  color: #bfbfbf !important;
}
@media only screen and (min-width: 980px){
.marginView{
  margin-left: 5%;
  margin-right: 5%;
}
}
@media only screen and (max-width: 980px){
  .marginView{
    margin-left: 1%;
    margin-right: 1%;
  }
  p{
    font-size: 1rem;
  }
  h2{
    font-size:1.2rem;
  }
  h3{
    font-size: 1.2rem;
  }

  .container{
    padding: 2vw;
  }
  .button{
    display: block;
    margin: 20px auto;
    padding: 10px 90px;
    font-size: 1.2rem;
  }

  .input{
    width: 100%;
    font-size: 1rem;
    height: 35px;
  }
  textarea{
    font-size: 1rem;
  }
  
  .heading-box{
    margin: 1% 0;
    width: 40vw;
}
.heading{
  line-height: 5vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
    font-size: 5vw;
    font-weight: 900;

}
  mat-card-title{
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .containing{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  .services{
    padding: 30px 20px;
    padding-bottom: 90px;
  }
}
body{background:#f0523f;overflow-x:hidden}
#slider{text-align:center}
strong{font-weight:bold}
label,a{color:brown;cursor:pointer;text-decoration:none;font-style:italic}
label:hover,a:hover{color:#ddd!important}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
label,#active,img{-moz-user-select:none;-webkit-user-select:none}
.catch{display:block;height:0;overflow:hidden}
#slider{margin-bottom:2% }
#slide1:checked ~ #slides .inner{margin-left:0}
#slide2:checked ~ #slides .inner{margin-left:-100%}
#slide3:checked ~ #slides .inner{margin-left:-200%}
#slide4:checked ~ #slides .inner{margin-left:-300%}
#slide5:checked ~ #slides .inner{margin-left:-400%}
#container2{width:100%;overflow:hidden}
#slides .inner{width:500%;line-height:0}
#slides article{width:20%;float:left}
#commands{margin:-25% 0 0 0;width:100%;height:50px}
#commands label{display:none;width:80px;height:80px;opacity:0.5}
#commands label:hover{opacity:0.8}
#active{position:relative;z-index:5;margin:16% 0 0;text-align:center}
#active label{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb}
#active label:hover{background:#333;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#000;opacity:0.6;border-color:#fff!important;border:2px solid #fff}
.caption{line-height:20px;margin:0 0 -150%;position:absolute;padding:320px 12px;opacity:0;color:#fff;text-transform:none;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-align:left;font-size:18px}
.caption bar{display:inline-block;padding:10px;background:#000;border-radius:5vw;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;opacity:0.7;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)}
#slides{position:relative;padding:2px;margin:45px 0 0;}
#slides .inner{-webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
#slider{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #slides article:nth-child(1) .caption,#slide2:checked ~ #slides article:nth-child(2) .caption,#slide3:checked ~ #slides article:nth-child(3) .caption,#slide4:checked ~ #slides article:nth-child(4) .caption,#slide5:checked ~ #slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}

img{
    height: 40vw;
    border-radius: 5%;
}

.inputForImage{
  display:none;
}