<div style="width: 90%; margin-left: 5%;  border-radius: 5vw;">
  <form #f="ngForm">
    <article id="slider" style="height: 40vw; border-radius: 5vw;">
        <input type='radio' name='slider' [value]='0' ngModel id='slide1'/>
        <input type='radio' name='slider' [value]='1' ngModel id='slide2'/>
        <input type='radio' name='slider' [value]='2' id='slide3' ngModel/>
        <input type='radio' name='slider' [value]='3' id='slide4' ngModel/>
        <input type='radio' name='slider' id='slide5' [value]='4' ngModel/>
        <div id="slides">
            <div id="container">
                <div class="inner">
                    <article>
                    <img src="assets/slide1.jpg"/>
                    </article>
                    <article>
                    <img src="assets/slide2.jpg"/>
                    </article>
                    <article>
    
                    <img src="assets/slide3.jpg"/>
                    </article>
                    <article>
                    
                    <img src="assets/slide4.jpg"/>
                    </article>
                    <article>
                    
                    <img src="assets/slide5.jpg"/>
                    </article>
                </div>
            </div>
        </div>
        </article>
    </form>
</div>
    <div *ngIf="!isMobile">
      <h1  style="width: 21%;
    height: 7vw;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 1vw;
    background: #FFD7B5;"><font style="position: absolute;
    text-align: center;
    margin-top: 1vw;
    width: 20vw;
    height: 3vw;
    font-family: Poppins;
    font-size: 3.5vw;
    line-height: 6vw;
    color: #000000;
    "><b>About Us</b></font></h1><br>
    <div class="flex-container">
     <h1  style="width: 90%; border-radius: 1vw;
    height: 45vw;
    margin-left: 5%;
    background: white;"><font style="position: absolute;
    margin-left: 4vw;
    margin-top: 4vw;
    text-align: justify;
    margin-top: 1vw;
    font-family: Poppins;
    font-size: 2.5vw;
    line-height: 3.5vw;
    margin-right: 10%;
    color: #000000;
    "><p class="header">Khan copper house create unique high quality Copper product from
the finest  Components and materials since 1892.</p>
<font size=3vw style="position: absolute;
text-align: justify;
padding-top: 3vw;
width: 100%;
height: 3vw;
font-family: Poppins;
font-size: 1.5vw;
line-height: 2.5vw;
color: #000000;"> Khan Copper House was founded in
    Sheri Khaas (Downtown) Srinagar with a
  cultural thought of making Copper
  products Khan Copper House is an
   established manufacturer, supplier of a
  vast range of Copperware products in
     Kashmir. Khan Copper House has always
        stood tall in terms of quality and variety of
  Copperware products,ruling the Home
                and Kitchen category whilst offering a versatile
          range along with home decor items as well.
  <br><BR>
     Our aim is to make Khan Copper House
              a household name, a preferred Copperware
          seller choice for Homes, Weddings, Hotels,   Restaurants, etc., by supplying
           an extensive array of sets of cooking ware,
             serve ware, drinkware, tableware, etc. in our specialized  materials.
            </font></font></h1>
</div>
</div>
<div *ngIf="isMobile">
    <h1 id="rcorners2" style="width: 40%;
    height: 9vw;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 3%;
    background: #FFD7B5;"><font style="position: absolute;
    margin-top: 1.5vw;
    margin-left: 6%;
    text-align: center;
    width: 27vw;
    height: 7vw;
    font-family: Poppins;
    font-size: 6vw;
    line-height: 6vw;
    color: #000000;
    "><b>About Us</b></font></h1>
     <div class="flex-container">
     <h1 class="header" id="rcorners1" style="width: 90%;
    height: 140vw;
    margin-left: 5%;
    margin-right: 5%;
    background: white;"><font style="position: absolute;
    margin-left: 4vw;
    margin-right: 8vw;
    margin-top: 4vw;
    text-align: justify;
    margin-top: 1vw;
    height: 6vw;
    font-family: Poppins;
    font-size: 6vw;
    line-height: 6.5vw;
    color: #000000;
    ">Khan copper house create unique high quality Copper product from
the finest  Components and materials since 1892.<br><font size=3vw style="position: absolute;
text-align: justify;
padding-top: 5vw;
width: 100%;
margin-top: 1vw;
height: 3.5vw;
font-family: Poppins;
font-size: 4vw;
line-height: 5vw;
font-weight: 100;
color: #000000;"> Khan Copper House was founded in
    Sheri Khaas (Downtown) Srinagar with a
  cultural thought of making Copper
  products Khan Copper House is an
   established manufacturer, supplier of a
  vast range of Copperware products in
     Kashmir. Khan Copper House has always
        stood tall in terms of quality and variety of
  Copperware products,ruling the Home
                and Kitchen category whilst offering a versatile
          range along with home decor items as well.
  <br><BR>
     Our aim is to make Khan Copper House
              a household name, a preferred Copperware
          seller choice for Homes, Weddings, Hotels,   Restaurants, etc., by supplying
           an extensive array of sets of cooking ware,
             serve ware, drinkware, tableware, etc. in our specialized  materials.
            </font></font></h1>
</div>
</div>

<style>
 
</style>