<div class="flex-container">
    <div class="heading-box" ngClass.xs="heading-box-small" ngClass.lt-lg="heading-box-small">
        <h1 class="heading" ngClass.xs="heading-small" ngClass.lt-lg="heading-small" style="font-weight: 600;">Product Details</h1>
    </div>
    <div fxLayout="row"  fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayout.lt-lg="column">
        <!-- <div class="product-image" fxFlex="30">
            <img src="https://dummyimage.com/200x200/00e1ff/000000" style="width: 100%;" alt="">
        </div> -->
        <div class="img-indicators1" fxFlex="10">
            <div fxLayout="column" fxHide.xs fxHide.lt-lg  fxFlex="50" fxLayoutAlign="space-between stretch">
                <img src="{{images.img1}}" class="demo1" (click)="currentDiv(1)" style="width: 100%;" alt="" #in1>
                <img src="{{images.img2}}" class="demo1" (click)="currentDiv(2)" style="width: 100%;" alt="" #in2>
                <img src="{{images.img3}}" class="demo1" (click)="currentDiv(3)" style="width: 100%;" alt="" #in3>
                <img src="{{images.img4}}" class="demo1" (click)="currentDiv(4)" style="width: 100%;" alt="" #in4>
                <img src="{{images.img5}}" class="demo1" (click)="currentDiv(5)" style="width: 100%;" alt="" #in5>

            </div>
        </div>
        <div class="img-shown" fxFlex="45" fxFlex.md="50"  fxFlex.sm="50" >
            <!-- fxFlexAlign="center" -->
            <button class="backward" (click)="previous()"><mat-icon class="prev-icon">arrow_back_ios</mat-icon></button>
            <button class="forward" (click)="next()"><mat-icon class="next-icon">arrow_forward_ios</mat-icon></button>
            <img src="{{images.img1}}" class="mySlides displaying" style="width: 100%; height: 100%;" alt="" #i1>
            <img src="{{images.img2}}" class="mySlides displaying" style="width: 100%; display: none; height: 100%;" alt="" #i2>
            <img src="{{images.img3}}" class="mySlides displaying" style="width: 100%; display: none; height: 100%;" alt="" #i3>
            <img src="{{images.img4}}" class="mySlides displaying" style="width: 100%; display: none; height: 100%;" alt="" #i4>
            <img src="{{images.img5}}" class="mySlides displaying" style="width: 100%; display: none; height: 100%;" alt="" #i5>
        </div>
        <div class="img-indicators2">
            <div fxLayout="row" fxHide fxShow.xs fxShow.lt-lg fxFlex="100" fxLayoutAlign="space-evenly center" >
                <img src="{{images.img1}}" class="demo2" (click)="currentDiv(1)" style="width: 10%;" alt="" #ins1 >
                <img src="{{images.img2}}" class="demo2" (click)="currentDiv(2)" style="width: 10%;" alt="" #ins2>
                <img src="{{images.img3}}" class="demo2" (click)="currentDiv(3)" style="width: 10%;" alt="" #ins3>
                <img src="{{images.img4}}" class="demo2" (click)="currentDiv(4)" style="width: 10%;" alt="" #ins4>
                <img src="{{images.img5}}" class="demo2" (click)="currentDiv(5)" style="width: 10%;" alt="" #ins5>
            </div>
        </div>
        <div class="product-details" fxFlex="30" fxFlex.md="30" fxFlex.sm="30" fxFlex.lt-lg="40">
            <h3 style="font-weight: 600; font-size: 170%;">{{productDetails.category}}</h3>
            <h2 class="white-bg">{{productDetails.availability}}</h2>
            <h1 class="product-name">{{productDetails.productName}}</h1>
            <h3 class="product-price">{{productDetails.productPrice}}</h3>
            <p>{{productDetails.productAbout}}</p>
            <br>
            <h2>Category:</h2>
            
            <div fxLayout="row" fxLayoutGap="15%" fxLayoutGap.xs="8%" fxLayoutGap.lt-lg="18%" fxLayoutGap.md="18%">
                <div class="size" fxFlex="15" fxFlex.xs="25">
                    <div fxLayout="row" fxlayoutAlign="start none" fxLayoutGap.xs="3%" fxLayoutGap="10%" fxLayoutGap.lt-lg="2%">
                        <div><h3>Size:</h3></div>
                        <div><h3><select placeholder="select size" style="padding: 8% 0;" >
                            <option value="123">123</option>
                            <option value="456">456</option>
                            <option value="789">789</option>
                            <option value="1238">1238</option>
                          </select></h3></div>
                    </div>
                </div>
                <div class="color" fxFlex="15" fxFlex.xs="20">
                    <div fxLayout="row" fxlayoutAlign="center center" fxLayoutGap.xs="1%" fxLayoutGap="5%" fxLayoutGap.lt-lg="2%" fxLayoutGap.md="1%">
                        <div><h3>Color:</h3></div>
                        <div class="radio-toolbar">
                            <input type="radio" id="radioA" name="radioColor" value="a">
                            <label for="radioA" class="label1" matTooltip="Copper"></label>
                        </div>
                        <div class="radio-toolbar">
                            <input type="radio" id="radioB" name="radioColor" value="b">
                            <label for="radioB" class="label2" matTooltip="Silver"></label>

                        </div>
                    </div>
                </div>
                <div class="quantity" fxFlex="15" fxFlex.xs="20">
                    <div fxLayout="row" fxlayoutAlign="start none" fxLayoutGap.xs="">
                        <div><h3>QTY: </h3></div>
                        <div><button (click)="decreaseCount()" class="minus-button" ><mat-icon ngClass.xs="minus-icon-small">remove</mat-icon></button></div>
                        <div><button  class="value-box">{{count}}</button></div>
                        <div> <button (click)="increaseCount()" class="add-button"><mat-icon ngClass.xs="minus-icon-small">add</mat-icon></button></div>
                      </div>
                </div>
                
                

            </div>
            <br>
            <div fxLayout="row">
                <div><h3 style="margin-top: 6%;">Pincode:</h3></div>
                <div><input type="tel" placeholder="Enter Pincode" class="pincode-input"></div>
                <div><button class="check-btn" ngClass.xs="check-btn-small">Check</button></div>
            </div>
            <br>
            <div fxLayout="row" fxLayoutGap="5%" fxLayoutGap.xs="1%">
                <div fxFlex="50"  fxFlex.xs="50">
                
                <button mat-raised-button class="place-order-button span1" >Add to Cart <img class="placeorder-icon" [ngStyle.xs]="'margin-top:2%;'" src="../../assets/images/cart.svg" ></button>
            </div>
            <div fxFlex="50" fxFlex.xs="50" >
                
                <button mat-raised-button class="place-order-button span1" >Buy Now <img class="placeorder-icon" [ngStyle.xs]="'margin-top:2%;'" src="../../assets/images/flash.svg" ></button>
            </div>
            </div>

        </div>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="details-section" >
        <div>
          <h2><button   #d class="details-btn" ngClass.xs="details-btn-small" (click)="details(1)">Description</button></h2>
        </div>
        <div>
            <h2><button  #ai class="details-btn" ngClass.xs="details-btn-small" (click)="details(2)">Additional Information</button></h2>
          </div>
          <div>
            <h2><button #r class="details-btn" ngClass.xs="details-btn-small" (click)="details(3)">Reviews(0)</button></h2>
          </div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center stretch" class="describing-details" ngClass.xs="describing-details-small">
    <h3>{{showData.data}}</h3>
    </div>
    

      <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="10%" fxLayout.xs="column">
        <div fxFlex="40">
        
        <button  mat-raised-button class="customer" [ngStyle.xs]="'width: 300px;'" [ngStyle.lt-lg]="'font-size:2vw'" ngClass.xs="customer-small"><mat-icon class="customer-icon" ngClass.xs="customer-icon-small">info</mat-icon> Customer Service </button>
    </div>
    <div fxFlex="40" >
        
        <button mat-raised-button class="secure" [ngStyle.xs]="'width: 300px;'" ngClass.xs="secure-small" ><mat-icon class="secure-icon" ngClass.xs="secure-icon-small">lock</mat-icon> Secure Payment</button>
    </div>
    </div>
</div>
