.box {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .box2 {
    display: flex;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .one {
    flex: 1.7 1.7 auto;
    background-color: #FFD7B5;
  }
 body{
   height: auto;
 }
  .two {
    flex: 1 1 auto;
    background-color: #FFD7B5;
  }
  .main{
      flex: 1 1 auto;
      background-color: #FFD7B5;
  }
