<body background="{{image}}">

    <div *ngIf="!isMobile">
    <div class="box">
    <div class="one" style="
    margin-right: 8vw;
    width: 6vw;
    padding-top: 1.5vw;
    padding-left: 3vw;"><p style="line-height: 2.5vw;
    font-size: 2vw;
    font-weight: 400;
    text-align: justify;">
    <img src="assets/order1.png" style="float: left;
    height: 4.5vw;
     margin-right: 2vw;">
    Order placed for ₹199<br>
    Order Id :  94115487952
</p></div>
    <div class="two" style="
    margin-right: 8vw;
    width: 6vw;
    padding-top: 1.5vw;
    padding-left: 3vw;" ><p style="line-height: 2vw;
    font-weight: 400;
    text-align: justify;"><img src="assets/order2.png" style="float: left;
    height: 4.5vw;
     margin-right: 2vw;"><p style="font-size: 2vw; font-weight: 400;">Just click!</p>
     <p style="font-size: 1.5vw; font-weight: 200;">
   Go to my orders ></p></div>
  </div>
  <div class="box">
      <div class="main">
          <p style="
          margin-left: 3vw;
          padding-top: 1vw;
        font-family: Poppins;
        font-weight: bold;
        font-size: 2.5vw;
        line-height: 4vw;
        ">Delivery Address</p>
        <p style="margin-left: 3vw;
        padding-top: 1vw;
      font-family: Poppins;
      font-weight: 200;
      font-size: 2vw;
      line-height: 2.5vw;
      padding-bottom: 3vw;">Customer name<br>
            Customer full address<br>
            +91 3689 21457<br>
            This order is also tracked by +91 36892 21457</p>
    </div>
  </div>
</div>
    <div *ngIf="isMobile">
        <p align=center style="font-size: 5vw;
        margin-top: 5%;
        margin-right: 5%;
        font-weight: 500;
        align-content: center;">
        Thank You ! for shopping with us
    </p>
    <div class="box2">
    <div class="one" style="
    margin-right: 8vw;
    width: 6vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    padding-left: 5vw;"><p style="line-height: 6vw;
    font-size: 4.5vw;
    font-weight: 600;
    text-align: justify;">
    <img src="assets/order1.png" style="float: left;
    height: 12vw;
     margin-right: 2vw;">
    Order placed for ₹199<br>
    Order Id : 94115487952
</p></div></div>
<div class="box2">
      <div class="main">
          <p style="
          margin-left: 5vw;
          padding-top: 4vw;
        font-family: Poppins;
        font-weight: 800;
        font-size: 5vw;
        line-height: 6vw;
        ">Delivery Address</p>
        <p style="margin-left: 5vw;
        padding-top: 1vw;
      font-family: Poppins;
      font-weight: 200;
      font-size: 4vw;
      line-height: 6vw;">Customer name<br>
            Customer full address<br>
            +91 3689 21457</p><p style="margin-left: 5vw;
          font-family: Poppins;
          font-weight: 200;
          font-size: 3.5vw;
          line-height: 3.5vw;
          padding-bottom: 3vw;">
            This order is also tracked by +91 36892 21457</p>
    </div>
  </div>
  <div class="box2">
    <div class="one" style="
    margin-right: 8vw;
    width: 6vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    padding-left: 5vw;"><p style="line-height: 2vw;
    font-size: 5vw;
    font-weight: 500;
    text-align: justify;">
    <img src="assets/order2.png" style="float: left;
    height: 12vw;
     margin-right: 2vw;"><p style="padding-top: 2vw;
     font-weight: 500;
     ">
    <b>Just click!</b></p>
    <p style="font-size: 3vw;">
        Go to my orders ></p>

</div>
</div>
<div class="box2">
    <div class="one" style="
    margin-right: 8vw;
    width: 6vw;
    padding-top: 4vw;
    padding-bottom: 3vw;
    padding-left: 5.5vw;
    border-radius: 4vw;
    background-color: white;">
    <div class="one" style="
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 20vw;
    margin-bottom: 2vw;
    padding-left: 6vw;
    margin-left: 10vw;
    font-size: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 5vw;
    background-color: #FFD7B5">Print Receipt</div></div>
</div>
</div>
</body>
