.container{
    background-color: #E1E1E1;
    min-height: 100vh;
    padding: 10px 20px;

}
.heading-box{
    background-color: #FFD7B5;
    width: 280px;
    height: 50px;
    /* padding-left: 1  0px; */
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}
.heading-box-small{
width: 250px;
height: 45px;
margin-bottom: 5%;
}
.heading-small{
font-size: 190%;
}
h1{
    align-items: center;
    font-size: 210%;
}
.icon{
    font-size: 210%;
    margin-right: 15%;
}
.button{
    font-weight: 500;
    background-color: #FFD7B5;
    padding: 10px 50px; 
    border-radius:15px;
    font-size: 190%;
    margin: 15px 0;
}
.button-small{
    font-size: 160%;
    /* padding: ; */
    padding: 5px 25px;
    }