<div class="flex-container">
  <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="10px" fxLayoutGap.xs="4px" fxLayoutGap.sm="0px">
    <div fxFlex="50" id="vert-left" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
            <div class="w3-display-bottomleft">
              <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                <div> <a href="#" class="text1">Grocery  </a> </div>
                <div> <a href="#" class="text1"> Items </a> </div>
                <div> <a href="#" class="text2">shop by category > </a></div>
              </div>
            </div>
          </li>
          <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
            <div class="w3-display-bottomleft">
              <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                <div> <a href="#" class="text1">Grocery  </a> </div>
                <div> <a href="#" class="text1"> Items </a> </div>
                <div> <a href="#" class="text2">shop by category > </a></div>
              </div>
            </div>
          </li>
          <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
            <div class="w3-display-bottomleft">
              <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                <div> <a href="#" class="text1">Grocery  </a> </div>
                <div> <a href="#" class="text1"> Items </a> </div>
                <div> <a href="#" class="text2">shop by category > </a></div>
              </div>
            </div>
          </li>
          <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
            <div class="w3-display-bottomleft">
              <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
                <div> <a href="#" class="text1">Grocery  </a> </div>
                <div> <a href="#" class="text1"> Items </a> </div>
                <div> <a href="#" class="text2">shop by category > </a></div>
              </div>
            </div>
          </li>
		  </ul>
	  </div>
  </div>

  <div fxFlex="50" id="vert-right" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
          <div class="w3-display-bottomleft">
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
              <div> <a href="#" class="text1">Grocery  </a> </div>
              <div> <a href="#" class="text1"> Items </a> </div>
              <div> <a href="#" class="text2">shop by category > </a></div>
            </div>
          </div>
        </li>
        <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
          <div class="w3-display-bottomleft">
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
              <div> <a href="#" class="text1">Grocery  </a> </div>
              <div> <a href="#" class="text1"> Items </a> </div>
              <div> <a href="#" class="text2">shop by category > </a></div>
            </div>
          </div>
        </li>
        <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
          <div class="w3-display-bottomleft">
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
              <div> <a href="#" class="text1">Grocery  </a> </div>
              <div> <a href="#" class="text1"> Items </a> </div>
              <div> <a href="#" class="text2">shop by category > </a></div>
            </div>
          </div>
        </li>
        <li class="splide__slide"> <img src="https://dummyimage.com/800x800/4d4c4d/fff" class="w3-image">
          <div class="w3-display-bottomleft">
            <div fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="0px">
              <div> <a href="#" class="text1">Grocery  </a> </div>
              <div> <a href="#" class="text1"> Items </a> </div>
              <div> <a href="#" class="text2">shop by category > </a></div>
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
