<div class="flex-container">
  <div fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="10px" fxLayoutGap.xs="0px">
    <div fxFlex="50" id="vert-left" class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
		  </ul>
	  </div>
  </div>

  <div fxFlex="50" id="vert-right" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
          <li class="splide__slide"> <img src="../../../assets/prod2.jpg" class="w3-image"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
