.box {
    display: flex;
    margin-top:2%;
    margin-left: 5%;
    margin-right: 5%; 
  }
  @keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink {
  animation: blinker 1s linear infinite;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
@keyframes blinker {
  55%{
      opacity: 100%;
  }
    50% {
    opacity: 0;
  }
  45%{
      opacity: 100%;
  }
}

  .box2 {
    display: flex;
    margin-top: 3%;
    margin-right: 6%;
    margin-left: 6%;
  }
  .fail{
       flex: 1 1 auto;
      background-color: white;
  }
  .one {
    flex: 1.7 1.7 auto;
    background-color: #FFD7B5;
  }

  .two {
    flex: 1 1 auto;
    background-color: #FFD7B5;
  }
  .main{
      flex: 1 1 auto;
      background-color: #FFD7B5;
      margin-bottom: 2vw;

  }

  a:link,a:visited,a:active,a:hover {
    color: black;
    text-decoration: none;
    font-weight: 900;
    }
  