  <div *ngIf="!isMobile">
        <div class="box blink" >
            <div class="fail" style="
            border-radius: 1vw;
            padding-top: 1.5vw;
            padding-left: 3vw;">
            <img class="img" src="assets/clock.gif" style="height: 6vw; width: 6vw; margin-left: 37vw; margin-bottom: 1%;">
            <p style="line-height: 2.5vw;
            font-size: 2.5vw;
            font-weight: 600;
            margin-left: 25.5vw;"> Your Payment Is Pending</p>
            <button class="button" style="font-weight: 900;"><a >Continue For Payment</a></button>  
        </div>
        </div>
    <div class="box">
    <div class="one" style="
    border-radius: 3vw;
    margin-right: 8vw;
    width: 6vw;
    padding-top: 1.5vw;
    padding-left: 3vw;"><p style="line-height: 3vw;
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;">
    <img src="assets/order1.png" style="float: left;
    height: 4.5vw;
     margin-right: 2vw;">
   Order Pending Payment Of ₹  {{orderValue}}<br>
    Order Id :  {{orderId}}
</p></div>
    <div class="two" style="
    width: 6vw;
    border-radius: 3vw;
    padding-top: 1.5vw;
    padding-left: 3vw;" ><p style="line-height: 2vw;
    font-weight: 400;
    text-align: justify;"><img src="assets/order2.png" style="float: left;
    height: 4.5vw;
     margin-right: 2vw;"><p style="font-size: 2vw; font-weight: 600;">Just click!</p>
     <p style="font-size: 1.5vw; font-weight: 200;">
      <a href="{{myOrder}} ">
        Go to my orders ></a></p></div>
  </div>
  <div class="box">
      <div class="main" style="border-radius: 3vw;">
          <h1 style="
        margin-left: 3vw;
        padding-top: 3vw;
        font-weight: 600;
        font-size: 3vw;
        line-height: 4vw;
        "><b>Delivery Address</b></h1>
        <p style="margin-left: 3vw;
      font-weight: 500; 
      font-size: 2vw;
      line-height: 3vw;
      padding-bottom: 3vw;">Customer Name : {{customerName}}<br>
            Customer Full Address : {{customerAdd}}<br>
            Customer Number : {{customerNumber}}<br>
            This order is also tracked by {{trackNumber}}</p>
    </div>
  </div>
</div>
    <div *ngIf="isMobile">
        <div class="box2">
            <div class="fail blink" style="
            border-radius: 3vw;
            width: 6vw;
            padding-top: 1.5vw;
            padding-left: 3vw;">
            <img class="img" src="assets/clock.gif" style="height: 10vw; width: 10vw; margin-left: 33vw;">
            <div style="line-height: 5vw;
            font-size: 4vw;
            font-weight: 600;
            margin-left: 15vw;
            margin-top: 2%;"> Your payment is pending</div>
             <button class="button2" style="font-weight: 550;"><a >Continue for Payment</a></button> 
        </div>
        </div>
    <div class="box2">
    <div class="one" style="
    border-radius: 3vw;
    width: 6vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    padding-left: 5vw;"><p style="line-height: 6vw;
    font-size: 3.8vw;
    font-weight: 600;
    text-align: justify;">
    <img src="assets/order1.png" style="float: left;
    height: 12vw;
     margin-right: 2vw;"><div style="padding-top: 1.5vw;"></div>
    Order Pending Payment For ₹ {{orderValue}}<br>
    Order Id :  {{orderId}}
</p></div></div>

  <div class="box2">
    <div class="one" style="
    border-radius: 3vw;
    width: 6vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 5vw;"><div style="line-height: 5.5vw;
    font-size: 5vw;
    font-weight: 500;
    text-align: justify;">
    <img src="assets/order2.png" style="float: left;
        height: 12vw;
     margin-right: 2vw;"><div style="padding-top: 2vw;
     font-weight: 500;
     ">
    <b>Just click!</b></div>
    </div>
    <div style="font-size: 3vw;"><a href="{{myOrder}} ">
        Go to my orders ></a></div>
</div>
  </div>
<div class="box">
  <div class="main" style="border-radius: 3vw;">
      <h1 style="
    margin-left: 7vw;
    padding-top: 5vw;
    font-weight: 600;
    font-size: 5vw;
    line-height: 5vw;
    "><b>Delivery Address</b></h1>
    <p style="margin-left: 7vw;
    font-weight: 500; 
  font-size: 3vw;
  line-height: 4vw;
  padding-bottom: 3vw;">Customer Name : {{customerName}}<br>
        Customer Full Address : {{customerAdd}}<br>
        Customer Number : {{customerNumber}}<br>
        This order is also tracked by {{trackNumber}}</p>
</div>
</div>
