  <!-- <div class="pic">
  <div class="top-right">
    <img src="../../../assets/images/pic1.png" style="width:100%">
    <img src="../../../assets/images/cart.svg" class="icon" alt="cart_icon">
<div class="overlay">
    <h2>Product Name</h2>
<h3>Material</h3>
<a href="#">More Details</a>
</div>
     </div>
    </div> -->
    <div class="pic">
      <div class="top-right">
          <img src="https://dummyimage.com/600x800/00e1ff/000000" style="width:100%">
          <img src="../../../assets/images/cart.svg" class="icon" alt="cart_icon" >
          
          <div class="overlay">
                      <div class="txt">
                          <a href="#" style="color:black;">Product Name</a>
                          <a href="#" style="color:black;">Material</a>
                          <a href="#"style="color:black;">More Details ></a>
                      </div>
          </div>
      </div>
  </div>
