

 .top-right{ position: relative; }
 .top-right img { display: block; }
 .top-right .icon { position: absolute; top:0; right:0; z-index: 1; }

 .icon{
     margin: 5%;
     margin-right: 7%;
     z-index: 1;

 }
 .pic{
     position: relative;
 }
 .pic .overlay{

     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     transition: .5s ease;
 }
 .overlay:hover
 {
     background-color: white;
     opacity:0.9;
     cursor:pointer;
 }
 .txt{
     display: none;
 }
 .pic:hover .txt
 {
     display: flex;
     flex-direction: column;
     color: black;
     position: absolute;
     text-align: center;
     bottom: 0;
     left: 0;
     margin-left: 15%;
     margin-bottom: 15%;
     font-family:Poppins !important;

 }
 .txt:hover
 {
     transition:.5s ease-in !important;
     font-weight:bolder !important;
     cursor:pointer;
     padding-left: 3%;
     transform: scale(1.5);
 }
 .txt{
     line-height: 140%;
     font-size: 100%;
     text-decoration: none;

 }
 a{
     text-decoration: none;
 }
 a:hover{
     text-decoration: underline !important;
 }
 .pic:hover .txt
 {
     opacity:0.9;
     transition: .5 ease-in;
     cursor:pointer;
 }
 .pic h2{
     color: black;
     font-weight: bolder;
     padding-left: 3%;
     padding-top: 2%;
 }
 .pic h3{
     color: black;
     font-weight: bold;
     padding-left: 3%;
 }

