<mat-toolbar fxLayout="row" fxLayoutAlign="space-evenly center">
  <div fxFlex="1" fxFlex.xs="10">
    <button (click)="onSelect()" fxShow [fxShow.gt-xs]="isVisibleOnMobile()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxFlex="15" fxFlex.xs="35">
    <span><a> <img class="logo" src="../../../assets/logo.png"> </a></span>
  </div>

  <div fxFlex="60" fxFlex.xs="15" [fxShow.xs]="isVisibleOnMobile()">
    <form class="example" action=" ">
      <input type="text" placeholder="Search for Products" name="search">
      <button type="submit"><mat-icon >search</mat-icon></button>
    </form>
  </div>

  <div class="phonesearch" (click)="show()">
    <div fxFlex="5" fxFlex.xs="8" fxShow [fxShow.gt-xs]="isVisibleOnMobile()" >
      <a >
        <mat-icon  matBadge="15" matBadgeColor="warn">search</mat-icon>
      </a>
    </div>
  </div>

  <div fxFlex="5" fxFlex.xs="15" [fxShow.lt-sm]="isVisibleOnMobile()">
    <a href="#" matTooltip="My Profile">
      <img class="utility-icon"  src="../../../assets/icons/user.svg">
    </a>
  </div>

  <div fxFlex="5" fxFlex.xs="8">
    <a href="#"  matTooltip="Wishlist">
      <!-- <mat-icon matBadge="15"  matBadgeColor="accent">assignment</mat-icon> -->
      <img class="utility-icon"  src="../../../assets/icons/wishlist.svg">
    </a>
  </div>

  <div fxFlex="5" fxFlex.xs="5" >
    <a href="#" matTooltip="My Cart">
      <img class="utility-icon"  src="../../../assets/icons/smart-cart.svg">
    </a>
  </div>
</mat-toolbar>

<div class="display" *ngIf="showCount==1" [fxShow.gt-xs]="isVisibleOnMobile()" >
  <div fxLayoutAlign="center none">
    <form class="phone" action=" ">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><mat-icon class="search-icon-pad-phone"><a class="search-icon-pad-phone">search</a></mat-icon></button>
    </form>
  </div>
</div>


