
<div class="share-bar" tabindex="1"  (focusout)="focusOutFunction()" id="share-button" (click) ="clickFunction()">
    <div class="title btn-round">

        <mat-icon class="ion brand-bg-color brand-color-hover ion-md-add">add</mat-icon>
        <span class="name font-titles">Share</span>
    </div>
    <div class="links">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=919541122925">
          <img src="../../assets/whatsapp.svg">
        </a>
        <a target="_blank" href="https://www.facebook.com/khancopper">
          <img src="../../assets/facebook.svg">
        </a>
        <a target="_blank" href="https://twitter.com/khancopper">
          <img src="../../assets/twitter.svg">
        </a>
        <a target="_blank" href="https://www.instagram.com/khancopper">
          <img src="../../assets/instagram.svg">
        </a>
    </div>
</div>
