<div class="flex-container" fxLayout="column" fxLayoutGap="10px">


      <div class="label-feature" >
        <a class="label-feature-text">Trending Products</a>
      </div>

<div id="trending" class="splide ">
  <div class="splide__track ">
    <ul class="splide__list">
      <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
        <li class="splide__slide"> <app-product-card></app-product-card></li>
    </ul>
  </div>
</div>
<div fxLayoutAlign="end">
  <button  mat-flat-button>View all</button>
</div>

</div>

<br>
