<form #f="ngForm">
<article id="slider" style="height: 40vw; border-radius: 5vw;">
    <input checked type='radio' name='slider' [value]='0' ngModel id='slide1'/>
    <input type='radio' name='slider' [value]='1' ngModel id='slide2'/>
    <input type='radio' name='slider' [value]='2' id='slide3' ngModel/>
    <input type='radio' name='slider' [value]='3' id='slide4' ngModel/>
    <input type='radio' name='slider' id='slide5' [value]='4' ngModel/>
    <div id="slides">
        <div id="container">
            <div class="inner">
                <article>
                <img src="assets/slide1.jpg"/>
                </article>
                <article>
                
                <img src="assets/slide2.jpg"/>
                </article>
                <article>

                <img src="assets/slide3.jpg"/>
                </article>
                <article>
                
                <img src="assets/slide4.jpg"/>
                </article>
                <article>
                
                <img src="assets/slide5.jpg"/>
                </article>
            </div>
        </div>
    </div>
    <div id="commands">
        <label for='slide1'></label>
        <label for='slide2'></label>
        <label for='slide3'></label>
        <label for='slide4'></label>
        <label for='slide5'></label>
    </div>
    </article>
</form>