<div  class="flex-container">

  <div fxLayout="column" fxLayoutGap= "-15px" fxLayoutGap.lt-sm="4px">
    <div fxLayout="row" fxFlex="33" fxLayoutGap="5px" fxLayoutGap.lt-sm="1px">
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 1
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 2
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 3
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 4
        </div>
      </a>
    </div>

    <div fxLayout="row" fxFlex="33" fxLayoutGap="5px" fxLayoutGap.lt-sm="1px">
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 5
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 6
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 7
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 8
        </div>
      </a>
    </div>

    <div fxLayout="row" fxFlex="33" fxLayoutGap="5px" fxLayoutGap.lt-sm="1px">
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 9
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 10
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 11
        </div>
      </a>
      <a href="#" fxLayout="column" fxFlex="25">
        <div fxFlex="80">
          <img src="https://dummyimage.com/800x800/4d4c4d/fff">
        </div>
        <div fxFlex="20" fxLayoutAlign="center none" class="text">
          Category 12
        </div>
      </a>
    </div>

</div>
