<div fxLayout="column" style="background-color: #e1e1e1;"
fxHide.xs>
  <br><br>
  <div fxLayout="row" fxFlex="1 1 70" style="height: 450px;" [ngStyle.md]="'height:400px'"
  [ngStyle.sm]="'height:380px'">
    <div fxFlex="1 1 10">
    </div>
    <div fxLayout="column" fxFlex="1 1 40">
      <div fxLayout="row" fxFlex="1 1 20">
        <div fxFlex="1 1 80" fxFlex.md="1 1 80"  fxFlex.sm="1 1 95"
        style="background-color: #FFD7B5;border-radius: 10px;"
        fxLayoutAlign="center center">
          <h1 style="font-size: 40px;font-weight: 800;padding-top: 2%;"
          [ngStyle.sm]="'font-size:30px'"
          [ngStyle.md]="'font-size:33px'">Payment Options</h1>
        </div>
      </div>
      <br>
      <div fxFlex="1 1 80">
        <mat-radio-group class="radio" fxLayout="column">
          <mat-radio-button class="radio-button" [value]="'payu'">
            <img src="assets/payu.svg"  height="120px">
          </mat-radio-button>
          <mat-radio-button class="radio-button" [value]="'paytm'">
            <img src="assets/stripe.png" width="150px" height="100px">
          </mat-radio-button>
          <mat-radio-button class="radio-button" [value]="'cod'">
            <h1 style="padding-top: 18px;font-weight: 600;
            background: -webkit-linear-gradient(rgb(196, 245, 81), rgb(58, 116, 4));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;font-size:2.5vw;line-height: 80px;
            ">Cash on Delivery</h1>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="column" fxFlex="1 1 40" style="background-color:white;">
      <br>
      <div fxLayout="row" fxFlex="1 1 10" fxLayoutAlign="center cemter">
        <div  style="background-color: #FFD7B5;border-radius: 10px;width:200px;font-weight: bolder;" fxLayoutAlign="center center">
          <h1  [ngStyle.gt-xs]="'font-size:30px;padding-top:7%;padding-left:5%;padding-right:5%;'">Price Detail</h1>
        </div>
      </div>
      <br>
      <div fxLayout="row" fxFlex="1 1 50">
        <div fxFlex="1 1 10"></div>
        <div fxLayout="column" fxFlex="1 1 85">
          <br>
          <div fxLayout="row" fxFlex="1 1 25" fxFlex.md="1 1 22" fxFlex.sm="1 1 19" fxLayoutGap.gt-md="40%" fxLayoutGap.md="25%" fxLayoutGap.sm="16%" [ngStyle.lg]="'padding-left: 5%'" >
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">Price ({{items}} item)</h1>
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">₹{{price}}</h1>
          </div>
          <div fxLayout="row" fxFlex="1 1 25" fxFlex.md="1 1 22" fxFlex.sm="1 1 19" fxLayoutGap.gt-md="45%" fxLayoutGap.md="30%" fxLayoutGap.sm="25%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">Tax (if any)</h1>
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">₹{{tax}}</h1>
          </div>
          <div fxLayout="row" fxFlex="1 1 25" fxFlex.md="1 1 22" fxFlex.sm="1 1 19" fxLayoutGap.gt-md="38%" fxLayoutGap.md="20%" fxLayoutGap.sm="12%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">Delivery Charge</h1>
            <h1 [ngStyle.gt-sm]="'font-size:25px;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'">₹{{delivery}}</h1>
          </div>
          <div fxLayout="row" fxFlex="1 1 25" fxFlex.md="1 1 22" fxFlex.sm="1 1 19" fxLayoutGap.gt-md="40%" fxLayoutGap.md="25%" fxLayoutGap.sm="15%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:25px;font-weight:bold;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'"
            >Total Amount</h1>
            <h1 [ngStyle.gt-sm]="'font-size:25px;font-weight:bold;'"
            [ngStyle.md]="'font-size:22px;'" [ngStyle.sm]="'font-size:18px;'"
            >₹{{total}}</h1>
          </div>
          <hr style="border:1px solid #837f7f;width:100%">
        </div>
      </div>
      <br fxHide.sm>
      <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs>
        <button mat-raised-button
        style="width: 200px;height:40px;
        font-size: 20px;font-weight: bold;text-align: center;background-color: #FFD7B5;border-radius: 60px;"
        [ngStyle.sm]="'width: 200px;height:40px;font-size:15px;'"
        [ngStyle.md]="'width: 200px;height:40px;font-size:15px;'"
        >
        Proceed Payment</button>
      </div>
      <div fxFlex="1 1 2"></div>
      <div fxLayout="row" fxLayoutAlign.gt-xs="center center" style="color:rgb(112, 106, 106);padding-left:5%;">
        <img src="assets/lock.svg" width="35px" height="40px">
        <div fxFlex="1 1 2"></div>
        <p
        fxFlex="1 1 50" style="font-style: normal;font-weight: 500;font-size: 20px;color: #837f7f;padding-top:2%;"
        [ngStyle.md]="'font-size:15px;'"
        [ngStyle.sm]="'font-size:12px;'">
          Safe and Secure Payments 100% Authentic products</p>
      </div>
    </div>
  </div>
  <br><br><br>
</div>



<div fxLayout="column" [ngStyle.xs]="'background-color:#E1E1E1;height:850px'" fxHide.gt-xs>
  <br><br>
  <div fxFlex="1 1 5" style="margin-left:20%;margin-right:20%;">
    <div fxLayout="row"  fxFlex="1 1 100" fxLayoutAlign="center center">
      <h1 style="font-size:6vw;font-weight: 600;padding-top:2%;padding-bottom:2%;
        padding-left:17%;padding-right:17%;
        background-color: #FFD7B5;border-radius: 10px;">Price Details</h1>
    </div>
  </div>

  <div fxFlex="1 1 40" style="background: white;margin-left:8%;margin-right:8%;border-radius: 15px;">
    <br>
    <div fxLayout="row" fxFLex="1 1 15">
      <div fxFlex="1 1 15"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">Price ({{items}} item)</h1>
      <div fxFlex="1 1 15"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{price}}</h1>
    </div>
    <div fxLayout="row" fxFLex="1 1 15">
      <div fxFlex="1 1 15"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">Tax (if any)</h1>
      <div fxFlex="1 1 21"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{tax}}</h1>
    </div>
    <div fxLayout="row" fxFLex="1 1 15">
      <div fxFlex="1 1 15"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">Delivery charge</h1>
      <div fxFlex="1 1 10"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{delivery}}</h1>
    </div>
    <br>
    <div fxLayout="row" fxFLex="1 1 15">
      <div fxFlex="1 1 12"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;font-weight:bold;">Total Amount</h1>
      <div fxFlex="1 1 18"></div>
      <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;font-weight:bold;">₹5200</h1>
    </div>
    <div fxLayout="row" fxFLex="1 1 15"></div>
    <div fxLayout="row" fxLayoutAlign="center center" style="color:rgb(112, 106, 106);padding-left:5%;">
      <img src="assets/lock.svg" width="30px" height="35px">
      <div fxFlex="1 1 2"></div>
      <p fxFlex="1 1 60" style="font-style: normal;font-weight: 500;font-size: 3vw;color: #646161;padding-top:2%">
        Safe and Secure Payments 100% Authentic products</p>
    </div>
  </div>
  <br><br><br>
  <div fxFlex="1 1 5" style="margin-left:20%;margin-right:20%;">
    <div fxLayout="row"  fxFlex="1 1 100" fxLayoutAlign="center center">
      <h1 style="font-size:6vw;font-weight: 600;padding-top:2%;padding-bottom:2%;
        padding-left:5%;padding-right:5%;
        background-color: #FFD7B5;border-radius: 10px;">Payment Options</h1>
    </div>
  </div>

  <div fxFlex="1 1 50" style="background: white;margin-left:8%;margin-right:8%;border-radius: 15px;" fxLayout="column">
    <mat-radio-group class="radio" fxLayout="column" fxLayoutGap="2px" style="margin-left: 10%;">
      <mat-radio-button class="radio-button" [value]="'payu'">
        <img src="assets/payu.png" width="80px" height="50px">
      </mat-radio-button>
      <mat-radio-button class="radio-button" [value]="'paytm'">
        <img src="assets/stripe.png" width="100px" height="60px">
      </mat-radio-button>
      <mat-radio-button class="radio-button" [value]="'cod'">
        <h1 style="font-size: 7vw;padding-top: 18px;font-weight: 500;
        background: -webkit-radial-gradient(rgb(194, 235, 99), rgb(55, 112, 2));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;"
            >Cash on Delivery</h1>
      </mat-radio-button>
    </mat-radio-group>
    <div fxLayout="row" fxLayoutAlign="center center" fxHide.gt-xs>
      <button mat-raised-button
      style="width: 200px;height:35px;font-size:15px;font-weight: bold;text-align: center;
      background-color: #FFD7B5;border-radius: 60px;"
      >
      Proceed Payment</button>
  </div>
  </div>
  <br><br><br>
</div>




