<mat-toolbar  fxLayoutAlign="center none" [fxShow.lt-sm]="isVisibleOnMobile()">
  <div>
    <div class="dropdown">
      <button class="dropbtn">All Category
      </button>

      <div class="dropdown-content">

        <div class="row" fxLayoutAlign="space-around">
          <div class="column">
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>

          </div>
          <div class="column">
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>

          </div>
          <div class="column">
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
          </div>
          <div class="column">
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
            <a href="#">Category name </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button mat-button >Featured Brands</button>
  </div>
  <div>
    <button mat-button >Trending Products</button>
  </div>
  <div>
    <button mat-button >Offer Zone</button>
  </div>
</mat-toolbar>
