.flex-container{
  margin-left: 2%;
  margin-right: 2%;
}

img{
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    margin-left: 1%;
  margin-right: 1%;

  }
}
