<br>
<div class="flex-container">
  <div id="image-slider" class="splide w3-margin-top w3-margin-bottom">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="https://dummyimage.com/680x310/4a464a/fff" class="w3-image">
        </li>
        <li class="splide__slide">
          <img src="https://dummyimage.com/680x310/4a464a/fff" class="w3-image">
        </li>
        <li class="splide__slide">
          <img src="https://dummyimage.com/680x310/4a464a/fff" class="w3-image">
              </li>
              <li class="splide__slide">
          <img src="https://dummyimage.com/680x310/4a464a/fff" class="w3-image">
        </li>
      </ul>
    </div>
  </div>
</div>
