<div>
  <div id="deal-day" class="splide ">
    <div class="splide__track ">
      <ul class="splide__list">
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
        <li class="splide__slide"> <app-deal-day-prod-card></app-deal-day-prod-card></li>
      </ul>
    </div>
  </div>
</div>

