<!-- Heading -->
<div style="background:  #E1E1E1;">

<div class="flex-container">
    <div>
    <div class="heading-feature" >
      <span class="heading-feature-text">My Cart</span>
    </div>
  </div>
</div>
<br>
<div class="flex-container1">
  <div  fxLayout="row">
    <div><mat-icon> location_on</mat-icon></div>
    <div>
      <p>  Deliver To  -</p>
    </div>
    <div class="address-feature">
      <span>3524343432432</span>
    </div>
  </div>
</div>


<!-- my cart items -->
<div  class="flex-container"  fxLayout="row" fxLayout.xs="column" fxLayoutGap="70px">
  <div fxLayout="column" fxFlex="60"  fxFlex.xs="100">
  <div id="parentDiv" scrollSpy  style="height: 400px; overflow-y: scroll;" >
      <app-my-cart-item></app-my-cart-item>


    </div>
  </div>

  <div  fxFlex="25"  fxFlex.xs="100"  fxLayout="column"  fxLayoutGap="-10px">
    <div fxLayoutAlign.lt-md="center none">
      <div class="label-feature" >
        <span class="label-feature-text text-bold">Price Details</span>
      </div>
    </div>

    <br>
    <div fxLayout="row" fxLayoutGap="30%" fxLayoutGap.md="30%" fxLayoutAlign="space-between">
      <div>
        <h3 class="text-bold">Price(1 Item) -</h3>
      </div>
      <div>
        <h3 class="text-bold">545</h3>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="30%" fxLayoutGap.md="30%" fxLayoutAlign="space-between">
      <div>
        <h4>Delivery Charges -</h4>
      </div>
      <div>
        <h3 >50</h3>
      </div>
    </div>
    <br>

    <div fxLayout="row" fxLayoutGap="30%" fxLayoutGap.md="30%"  fxLayoutAlign="space-between">
      <div>
        <h3 class="text-bold">Total Amount-</h3>
      </div>
      <div>
        <h3 class="text-bold">595</h3>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="1px">
        <p>Delivery by Mon Aug 31 | ₹52 </p>
        <p> 10 Days Replacement Policy </p>
    </div>
    <div>
      <hr>
    </div>
    <br>
    <div class="place-order-button">
      <button mat-raised-button class="place-order-button span1" >Place Order <mat-icon>shop</mat-icon></button>
    </div>
    <br>

    <div class="white-card">
      <span class="span1"><mat-icon>verified_user</mat-icon> Safe and Secure Payments </span>
      <br>
      <span > 100% Authentic products</span>
    </div>
  </div>
</div>

<br>
<br>

<!-- saved for later -->
<div class="flex-container">
  <div fxLayoutAlign.lt-md="center none">
    <div class="savedlater-feature" >
      <span class="savedlater-feature-text">Saved For Later (7)</span>
    </div>
  </div>
</div>
<br>

<div fxLayout="row" class="flex-container" fxLayout.xs="column" fxLayoutGap="5px">
  <div fxLayout="row" fxFlex="35"  fxFlex.xs="50"  >
   <app-my-cart-saved-later></app-my-cart-saved-later>
  </div>

  <div fxLayout="row" fxFlex="35"  fxFlex.xs="50"  >
    <app-my-cart-saved-later></app-my-cart-saved-later>
   </div>


  <div fxLayout="row" fxFlex="35" [fxShow.xs]="isVisibleOnMobile()" >
    <app-my-cart-saved-later></app-my-cart-saved-later>
  </div>

</div>
<br>

<div fxLayoutAlign="center none">
  <button mat-raised-button class="button-spec">View More<mat-icon>chevron_right</mat-icon></button>
</div>

</div>
