<div fxLayout="column" [ngStyle.gt-xs]="'background-color:#E1E1E1;height:650px;'"
[ngStyle.sm]="'font-size:15px;height:550px;'"
[ngStyle.md]="'font-size:15px;height:550px;'"
fxHide.xs>
  <div fxFlex="1 1 5"></div>
  <div fxLayout="row" fxFlex="1 1 10">
    <div fxFlex="1 1 5"></div>
    <div fxFlex="1 1 23" fxFlex.md="1 1 25" fxFlex.sm="1 1 25" style="border-radius: 30px;background-color: #FFD7B5;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);" fxLayoutAlign="center center">
      <h1 style="font-weight:bold;padding-top:5%;font-size:2.5vw;"> Easy Cancellation</h1>
    </div>
  </div>
  <div fxFlex="1 1 5"></div>
  <div fxLayout="row" fxFlex="1 1 75" fxLayout.xs="column">
    <div fxFlex="1 1 5"></div>
    <div fxFlex="1 1 45" style="background-color: white;" class="card">
      <div fxLayout="row" fxFlex="1 1 100">
        <div fxFlex="1 1 4"></div>
        <div fxLayout="column" fxFlex="1 1 92">
          <div fxFlex="1 1 5"></div>
          <div fxLayout="column" fxFlex="1 1 80">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div fxLayout="column wrap" fxLayoutAlign="space-between" fxLayoutGap="33px">
                <div fxFlex="28">
                  <h1>Reason For Cancellation</h1>
                  <select class="input" formControlName="reason">
                    <option *ngFor="let reason of reasonList" [value]="reason">{{reason}}</option>
                  </select>
                  <span *ngIf="!form.get('reason').valid && form.get('reason').touched" style="color:red;">
                              Enter valid reason.
                          </span>
                </div>
                <div fxFlex="28">
                  <h1>Comments</h1>
                  <textarea type="text"  class="input1 form-control" formControlName="comment"
                  [ngStyle.sm]="'height:80px;'"
                  [ngStyle.md]="'height:80px;'"></textarea>
                  <span *ngIf="!form.get('comment').valid && form.get('comment').touched" style="color:red;">
                                  Enter Valid Comment</span>
                </div>
                <div fxFlex="1 1 10" fxLayout="row" fxLayoutAlign="center center">
                  <button mat-raised-button class="button"
                  style="background-color:#FFD7B5;height:45px;width:200px;border-radius:20px;font-size:20px;font-weight:bold;"
                  [disabled]="!form.valid">
                    Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="1 1 3"></div>
    <div fxFlex="1 1 42" style="background-color: white;" class="card">
      <div fxLayout="row" fxFlex="1 1 100">
        <div fxFlex="1 1 3"></div>
        <div fxLayout="column" fxFlex="1 1 95">
          <div fxFlex="1 1 4"></div>
          <div fxLayout="row" fxFlex="1 1 10" fxLayoutAlign="center center">
            <div fxFlex.gt-xs="1 1 40" style="background-color: #FFD7B5;border-radius: 30px;" fxLayoutAlign="center center"
            >
              <h1  [ngStyle.gt-xs]="'font-size:2.5vw;padding-top:6%;font-weight:bold;'">Price Detail</h1>
            </div>
          </div>
          <div fxFlex="1 1 8"></div>
          <div fxLayout="row" fxFlex="1 1 15" fxLayoutGap.gt-md="40%" fxLayoutGap.md="25%" fxLayoutGap.sm="16%" [ngStyle.lg]="'padding-left: 5%'" >
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">Price ({{items}} item)</h1>
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">₹{{price}}</h1>
          </div>
          <div fxLayout="row" fxFlex="1 1 15" fxLayoutGap.gt-md="45%" fxLayoutGap.md="30%" fxLayoutGap.sm="25%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">Tax (if any)</h1>
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">₹{{tax}}</h1>
          </div>
          <div fxLayout="row" fxFlex="1 1 15" fxLayoutGap.gt-md="35%" fxLayoutGap.md="20%" fxLayoutGap.sm="12%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">Delivery Charge</h1>
            <h1 [ngStyle.gt-sm]="'font-size:2vw;'">₹{{delivery}}</h1>
          </div>
          <div fxFlex="1 1 5"></div>
          <div fxLayout="row" fxFlex="1 1 15" fxLayoutGap.gt-md="40%" fxLayoutGap.md="25%" fxLayoutGap.sm="15%" [ngStyle.lg]="'padding-left: 5%'">
            <h1 [ngStyle.gt-sm]="'font-size:2vw;;font-weight:bold;'"
            [ngStyle.sm]="'font-size:25px;font-weight:bold;'">Total Amount</h1>
            <h1 [ngStyle.gt-sm]="'font-size:2vw;;font-weight:bold;'"
            [ngStyle.sm]="'font-size:25px;font-weight:bold;'">₹{{total}}</h1>
          </div>

          <div fxLayout="row" fxLayoutAlign.gt-xs="center center" style="color:rgb(112, 106, 106);padding-left:5%;">
            <img src="assets/lock.svg" width="35px" height="40px">
            <div fxFlex="1 1 2"></div>
            <p
            fxFlex="1 1 60" style="font-style: normal;font-weight: 500;font-size: 22px;color: #837f7f;padding-top:2%;"
            [ngStyle.md]="'font-size:15px;'"
            [ngStyle.sm]="'font-size:12px;'">
              Safe and Secure Payments 100% Authentic products</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px;background-color:#E1E1E1;" fxHide.xs></div>
<!-- xs devices -->
<div fxLayout="column" [ngStyle.xs]="'background-color:#E1E1E1;height:1000px;'" fxHide.gt-xs>
  <div fxFlex="1 1 2"></div>
  <div fxFlex="1 1 5" style="margin-left:10%;margin-right:10%;">
    <div fxLayout="row" fxLayout="1 1 100" fxFlex="1 1 100">
      <div fxFlex="1 1 100" style="background-color: #FFD7B5;border-radius: 10px;" fxLayoutAlign="center center">
        <h1 style="font-size:7vw;font-weight: 600;padding-top:4%;">Order Cancellation</h1>
      </div>
    </div>
  </div>
  <br>
  <div fxFlex="1 1 5">
    <div fxLayout="row" fxLayout="1 1 100" fxFlex="1 1 100">
      <div fxFlex="1 1 16"></div>
      <div fxFlex="1 1 68"fxLayoutAlign="center none">
        <h1 style="font-size:4vw;font-weight: bold;padding-top:3%;">Order Id : 94115487952</h1>
      </div>
    </div>
  </div>
  <div fxFlex="1 1 1"></div>
  <div fxFlex="1 1 5" style="margin-left:20%;margin-right:20%;">
    <div fxLayout="row" fxLayout="1 1 100" fxFlex="1 1 100">
      <div fxFlex="1 1 100"  fxLayoutAlign="center center">
        <h1 style="font-size:6vw;font-weight: 600;width:70vw;text-align: center;
        padding-top:2%;padding-bottom: 2%;
        background-color: #FFD7B5;border-radius: 10px;">Price Details</h1>
      </div>
    </div>
  </div>
  <div fxFlex="1 1 28" fxLayout="row">
    <div fxFlex="1 1 8"></div>
    <div fxLayout="column" fxFlex="1 1 84" style="background-color: white;border-radius:20px;" class="card">
      <br>
                <div fxLayout="row" fxFLex="1 1 15">
                  <div fxFlex="1 1 15"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">Price ({{items}} item)</h1>
                  <div fxFlex="1 1 15"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{price}}</h1>
                </div>
                <div fxLayout="row" fxFLex="1 1 15">
                  <div fxFlex="1 1 15"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">Tax (if any)</h1>
                  <div fxFlex="1 1 21"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{tax}}</h1>
                </div>
                <div fxLayout="row" fxFLex="1 1 15">
                  <div fxFlex="1 1 15"></div>
                  <h1 style="font-size:5vw;text-align: center;color: #000000;opacity: 0.75;">Delivery charge</h1>
                  <div fxFlex="1 1 10"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;">₹{{delivery}}</h1>
                </div>
                <div fxLayout="row" fxFLex="1 1 15">
                  <div fxFlex="1 1 12"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;font-weight:bold;">Total Amount</h1>
                  <div fxFlex="1 1 18"></div>
                  <h1 style="font-size: 5vw;text-align: center;color: #000000;opacity: 0.75;font-weight:bold;">₹{{total}}</h1>
                </div>
                <div fxLayout="row" fxFLex="1 1 15"></div>
                <div fxLayout="row" fxLayoutAlign="center center" style="color:rgb(112, 106, 106);padding-left:5%;">
                  <img src="assets/lock.svg" width="40px" height="35px">
                  <div fxFlex="1 1 2"></div>
                  <p fxFlex="1 1 80" style="font-style: normal;font-weight: 500;font-size: 4vw;color: #646161;padding-top: 2%;">
                    Safe and Secure Payments 100% Authentic products</p>
                </div>
    </div>
  </div>
  <div fxFlex="1 1 3"></div>
  <div fxFlex="1 1 5" style="margin-left:20%;margin-right:20%;">
    <div fxLayout="row" fxLayout="1 1 100" fxFlex="1 1 100">
      <div fxFlex="1 1 100"  fxLayoutAlign="center center">
        <h1 style="font-size:5vw;font-weight: 600;width:70vw;text-align: center;
        padding-top:2%;padding-bottom: 2%;
        background-color: #FFD7B5;border-radius: 10px;">Easy Cancellation</h1>
      </div>
    </div>
  </div>
  <div fxFlex="1 1 40" fxLayout="row">
    <div fxFlex="1 1 8"></div>
    <div fxLayout="row" fxFlex="1 1 84" style="background-color: white;border-radius:20px;" class="card">
      <div fxFlex="1 1 5"></div>
      <div fxFlex="1 1 90" fxLayout="column">
        <br>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div fxLayout="column wrap" fxLayoutAlign="space-between" fxLayoutGap="15px">
            <div fxFlex="30">
              <h1 style="font-size: 5vw;">Reason For Cancellation</h1>
              <select class="input" formControlName="reason"
               style="border-radius: 20px;width:74vw;height:10vw;background-color: #FFD7B5;">
                <option *ngFor="let reason of reasonList" [value]="reason">{{reason}}</option>
              </select>
              <span *ngIf="!form.get('reason').valid && form.get('reason').touched" style="color:red;">
                          Enter valid reason.
                      </span>
            </div>
            <div fxFlex="30">
              <h1 style="font-size: 5vw;">Comments</h1>
              <textarea type="text" rows="20" class="form-control" formControlName="comment"
              style="border-radius: 20px;width:74vw;height:90px;background-color: #FFD7B5;"></textarea>
              <span *ngIf="!form.get('comment').valid && form.get('comment').touched" style="color:red;">
                              Enter Valid Comment</span>
            </div>
            <div fxFlex="1 1 5"></div>
            <div fxFlex="1 1 10" fxLayout="row" fxLayoutAlign="center center">
              <button  mat-raised-button type="submit"
              style="background-color:#FFD7B5;height:50px;width:200px;border-radius:20px;font-size:15px;font-weight:bold;"
              [disabled]="!form.valid">
              Confirm Cancellation</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
