/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background-color: #E1E1E1;
}

.splide__arrow {
  height:25px !important;
  width:25px !important;
}

.splide__arrow > svg {
  height : 15px !important;
  width:15px !important;
}

.splide__pagination{
  color: black;
}

