<div *ngIf="!isMobile">
    <div class="flex-container">
        <div style=" width: 90%; border-radius: 4vw; margin-left: 5%;
        margin-right: 5%; 
        height: 34vw;
       background: white;">
      <div style="line-height: 4vw; font-size: 3vw; margin-left: 20.7vw"><div style="padding-left: 11vw;"> Opps !!</div>
        <font style="font-size: 2vw;">
       The Requested Page Is Not Found</font> </div><br>
       <img src="assets/error.png" style="margin-left: 34%; height: 17vw; width: 17vw;" > 
      <br><br>
       <font style="margin-left: 34%; font-size: 2vw; font-weight: 500;">
        Go To <a href="#"> HomePage</a>
    </font> 
   
   </div>
   </div>
   </div>
 <div *ngIf="isMobile">
    <div class="flex-container">
        <div style=" width: 94%; margin-top: 10vw; border-radius: 4vw; margin-left: 3%;
        margin-right: 3%;
        height: 70vw;
       background: white;">
      <div style="padding-bottom: 3vw; line-height: 4vw; margin-top: 5vw; margin-left: 8vw; font-size: 6vw; line-height: 8vw;"> 
        <div style="padding-left: 21.5vw;"> Opps !!</div>
      <font style="font-size: 4vw;">
     The Requested Page Is Not Found</font> </div>
       <img src="assets/error.png" style="margin-left: 28%; height: 30vw; width: 30vw; padding-bottom: 1vw;" > <br>
       <font style="margin-left: 25%; font-size: 4vw ">
       Go To <a href="#"> HomePage</a>
    </font> 
   
   </div>
</div>