  .flex-container > div {
      margin-top: 3vw;
      margin-bottom: 3vw ;
    background-color: white;
    font-size: 3vw;
    padding-left: 5vw;
    padding-top: 2vw;
    font-family: poppins;
    font-weight: 600;
  }
  .flex-container {
    display: flex;
    background-color: #e1e1e1;
  }

  a:link,a:visited,a:active,a:hover {
    color: black;
    font-weight: 1000;
    }